body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.right {
    position: absolute;
    right: 0;
}

.text-big {
    font-size: 100%;
}

.text-small {
    font-size: 50%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.img-medium {
    height: 200px;
}

.container {
    margin: 0 0 200px 2000px;
}
